.container {
    width: 400px;
    padding: 20px;
    margin: 80px auto;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background: hsla(0, 0%, 8%, 0.1) !important;
  }
  
  .container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  
  input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn {
    background-color: #831238;
    color: white;
  }

